# HERE IS OUR PROGRAMMING EXERCISE FOR BASIC PYTHON

Write a Python function that calculates the sum of numbers in an array, but excludes any numbers that appear between a 6 and the next 9 (inclusive).

For example, given the array [1, 3, 6, 7, 9, 2, 4], the function should return 10 because 6, 7, 9 are excluded from the sum.

In [9]:
def sum(arr):
    total_sum = 0
    skip = False

    for num in arr:
        if num == 6:
            skip = True
        if not skip:
            total_sum += num
        if num == 9 and skip:
            skip = False

    return total_sum

In [10]:
sum([6, 1, 2, 9, 3, 4])

# Expected output : 7

7

In [11]:
sum([1, 6, 2, 3, 9, 4, 6, 5, 9, 7])

# Expected output : 8

12

In [12]:
sum([1, 2, 3])

# Expected output : 6

6

Write a Python function that checks whether a word or phrase is palindrome or not.

Note : A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g. madam, kayak

In [13]:
def palindrome(s):
    cleaned = ''.join(char.lower() for char in s if char.isalnum())
    return cleaned == cleaned[::-1]

In [14]:
palindrome('nurses run')

# Expected output : True

True

In [15]:
palindrome('madam')

# Expected output : True

True

Write a Python function to check whether a atring is pangram or not. (Assume the string passed in does not have any punctuation)

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
For example : "The quick brown fox jumps over the lazy dogs"

In [16]:
def ispangram(s):
    alphabet = set('abcdefghijklmnopqrstuvwxyz')
    letters_in_s = set(s.lower())
    return alphabet.issubset(letters_in_s)

In [17]:
ispangram("The quick brown fox jumps over the lazy dogs")

# Expected output : True

True

Extract elements from index 2 to 5 in my_list using slicing method

*   List item
*   List item

In [18]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# write your code here8
sliced_list = my_list[2:6]

print(sliced_list)
# Expected output = [3, 4, 5, 6]

[3, 4, 5, 6]

:Extract every 2nd element from index 1 to 10 in my_list using slicing method

In [19]:
my_list = list(range(20))  # [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]

# write your code here
sliced_list = my_list[1:10:2]

print(sliced_list)
# Expected output : [1, 3, 5, 7, 9]

[1, 3, 5, 7, 9]

Reverse my_list using slicing method

In [20]:
my_list = [10, 20, 30, 40, 50]

# write your code here
sliced_list = my_list[::-1]

print(sliced_list)
 # Expected output : [50,40,30,20,10]

[50, 40, 30, 20, 10]

Extract the second element of the second list in nested_list using slicing method

In [21]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# write your code here
list_ = nested_list[1][1]

print(list_)
# Expected output : 5

5

Combine elements from 5 to 10 and 15 to 20 from my_list using slicing method

In [23]:
my_list = list(range(1, 21))      # [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

# write your code here
list_ = my_list[4:10] + my_list[14:20]

print(list_)

# Expected output : [5, 6, 7, 8, 9, 10, 15, 16, 17, 18, 19, 20]

[5, 6, 7, 8, 9, 10, 15, 16, 17, 18, 19, 20]

Merge dict2 into dict1

In [24]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
# write your code here
dict1.update(dict2)

print(dict1)
# Expected output : {'a': 1, 'b': 3, 'c': 4}

{'a': 1, 'b': 3, 'c': 4}

Sort the dictionary by keys

In [26]:
my_dict = {'orange': 5, 'banana': 2, 'apple': 8}

# Expected output : {'apple': 5, 'banana': 2, 'orange': 8}